<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
  
         <add name="Csharp_Project.Properties.Settings.MY_DBConnectionString"
            connectionString="Data Source=DEV_PCB02917\SQL_ME_UI_APP;Initial Catalog=MY_DB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>